/* Here goes your CSS */
body {
  background: #32161F;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #7D7D7D;
  line-height: 25px;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
}
h1 {
  color: #DD5555;
  font-weight: bold;
  font-size: 22px;
}
h2 {
  font-weight: lighter;
  font-size: 18px;
}
h3 {
  font-weight: lighter;
  font-size: 16px;
}
p {
  text-align: justify;
  font-weight: lighter;
}
a {
  font-weight: lighter;
  text-decoration: none;
  color: #A57982;
}
li a {
  font-size: 40px;
}
a:hover {
  color: #32161F;
}
.card {
  background: white;
  margin: 7px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px lightgrey;
  opacity: 0.9;
}
.card:hover {
  opacity: 1;
}
.text-center {
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.img-shadow {
  box-shadow: 2px 2px 2px lightgrey;
}
.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  padding-left: 0;
}
.img-smooth-border {
  border-radius: 3px;
}
.btn-red {
  padding:10px 20px 10px 20px;
  background-color: #32161F;
  border-radius: 3px;
  color: white;
  opacity: 0.7;
  margin: 40px;
}
.btn-red:hover {
  color: lightgrey;
  opacity: 1;
  color: white;
}
.img-size {
  width: 100px;
  margin-right: 20px;
}
#sidebar {
  background-color: lightgrey;
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
.container {
  width: 950px;
  margin: 0 auto;
}
#page-content {
  margin-left: 100px;
}
.icon-vertical {
  margin: 0;
  padding: 0;
}
.icon-vertical li {
  margin-top: 50px;
  margin-bottom: 50px;
}
#wrapper {
  background-color: #A57982;
  width: 90%;
  margin: auto;
  padding: 15px;
}
#left-container {
  float: left;
  width: 40%;
}
.clear {
  clear: both;
}
.right-container {
  float: right;
  width: 60%;
}
.footer {
  position: relative;
  margin: 0;
}
